.modal{
    
    top:60px;
    
} 

.modal-footer{
	text-align: left;

}



.btn{

	width:18em;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.img-circle {
    
    width:30px;
    height:30px;
}


.panel-title{
height:120px;
}

body { padding-top: 62px; }

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <a class="navbar-brand" href="#">Title</a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Link</a>
    </li>
  </ul>
</nav>

